@import "reset.css";

html, body {
    scroll-behavior: smooth;
}

body{
    background: #101014;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: clip;
}

/* Video background styling */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover; /* ensures video fills and crops properly */
}

/* Optional: content overlay */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
}
.mute-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mute-toggle:hover {
    scale: 1.2;
    /*background: rgba(66, 54, 26, 0.64);
    box-shadow: 0 0 10px #C19E47;*/
}

.material-icons {
    color: rgba(193, 158, 71, 0.65);
    font-size: 28px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.material-icons:hover{
    color: #C19E47;
}

.blur {
    backdrop-filter: blur(5px); /* Apply blur to background */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    padding: 20px;
}


/* Fade out / rotate when switching */
.muting {
    transform: rotate(-180deg);
    opacity: 0;
}

.unmuting {
    transform: rotate(180deg);
    opacity: 0;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
    overflow: scroll;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
    img{
        animation: zoom-in 1s ease;
    }
}

.overlay .img-container {
    overflow-y: visible;
    margin: 4% auto;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100%;
}
.overlay img{
    max-width: 85vw;
    height: auto;
    width: auto;
    max-height: 90vh;
    border-radius: 8px;
    border: 2px solid rgba(193, 158, 71, 0.36);
    box-shadow: 0 0 100px rgba(193, 158, 71, 0.36);
    transition: transform 0.3s ease, opacity 0.3s ease;
}


@keyframes zoom-in {
    0% {
        scale: 0;
    }
    50% {
        scale: 105%;
    }
    100% {
        scale: 100%;
        transform: translateX(0%) translateY(0%);
    }
}